{% extends "access_framer.twig" %}
{% block content %}  
<section class="subpages">
    {% if has_permission('users') %}
    <article class="subpage sub-users">
        <div class="subpage-icon"><i class="fa fa-user"></i></div>
        <div class="subpage-content">
            <p class="subpage-title">
                <a href="{{ ADMIN_URL }}/users/">{{ L_('MENU:USERS') }}</a>
            </p>
            <p>{{ L_('OVERVIEW:USERS') }}</p>
        </div>                         
    </article> 
    {% endif %} 

    {% if has_permission('groups') %}
    <article class="subpage sub-groups">
        <div class="subpage-icon"><i class="fa fa-users"></i></div>
        <div class="subpage-content">
            <p class="subpage-title">
                <a href="{{ ADMIN_URL }}/groups/">{{ L_('MENU:GROUPS') }}</a>
            </p>
            <p>{{ L_('OVERVIEW:GROUPS') }}</p>
        </div>                            
    </article> 
    {% endif %} 
</section>
{% if has_permission('settings_advanced') %}  
<form name="access_settings" method="post">
    {{ FTAN }}
    <div class="cp-settings">
        <div class="cp-toggle-section cp-toggle-section-closed">
            <div class="formHeading">
                <label><i class="fa fa-sliders"></i> {{ L_('TEXT:CHANGE_SETTINGS') }} 
                    <input type="checkbox" class="toggle-section" {% if show_settings == true %}checked{% endif %} />
                </label>
            </div>
            <section id="settings">
                <div class="cp-setting-row">
                    <div class="cp-setting-name">{{ L_('TEXT:HOME_FOLDERS') }}</div>
                    <div class="cp-setting-value">
                        <label>
                            <input type="radio" name="home_folders" id="home_folders_true" value="true"{{ check_io(cfg.home_folders, 1) }}>
                            {{ L_('TEXT:ENABLED') }}
                        </label>
                        <label>
                            <input type="radio" name="home_folders" id="home_folders_false" value="false"{{ check_io(cfg.home_folders, 0) }}>
                            {{ L_('TEXT:DISABLED') }}
                        </label>
                        <div class="cp-setting-hint">Use of a separate Media folder only accessible by a selected User</div>
                    </div>
                </div>
                <div class="cp-setting-row">
                    <div class="cp-setting-name">{{ L_('TEXT:LOGIN') }}</div>
                    <div class="cp-setting-value">
                        <label>
                            <input type="radio" name="frontend_login" id="frontend_login_true" value="true"{{ check_io(cfg.frontend_login, 1) }}>
                            {{ L_('TEXT:ENABLED') }}
                        </label>
                        <label>
                            <input type="radio" name="frontend_login" id="frontend_login_false" value="false"{{ check_io(cfg.frontend_login, 0) }}>
                            {{ L_('TEXT:DISABLED') }}
                        </label>
                        <div class="cp-setting-hint">Frontend Anmeldung. Wenn ausgeschaltet ist der Login und der User-Account im Frontend nicht zugänglich.</div>
                    </div>
                </div> 
                <div class="cp-setting-row">
                    <div class="cp-setting-name">{{ L_('TEXT:SIGNUP') }}</div>
                    <div class="cp-setting-value">
                        <select name="frontend_signup" id="frontend_signup" data-search-label="{{ L_('TEXT:SEARCH') }} ... [{{ L_('TEXT:GROUP') }}-ID, {{ L_('TEXT:NAME') }}]">
                            <option value="false"{% if 'false' == cfg.frontend_signup %} selected{% endif %}>{{ L_('TEXT:DISABLED') }}</option>
                            {% for group in SIGNUP_GROUPS %}
                                <option value="{{ group.id }}" data-right="{{ group.id }}"{% if group.id == cfg.frontend_signup %} selected{% endif %}>{{ group.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="cp-setting-hint">Hier kann ausgewählt werden in welcher Gruppe sich Besucher selbständig registrieren können.</div>
                    </div>
                </div>
                    
                <div class="cp-buttons-row">
                    <button type="reset" class="button ico-reset" name="reset">{{ L_('TEXT:RESET') }}</button>   
                    <button type="submit" class="button ico-save pos-right" name="save_settings">{{ L_('TEXT:SAVE') }}</button> 
                </div>  
            </section>  
        </div>
    </div>
</form>
<script>    
$(document).ready(function() { 
    // change password toggle
    $('.toggle').on('change', function () {                
        $('#renew_password').toggle(this.checked);
    }).change();     
    
    $.insert(JQUERY_PLUGINS + '/selectee/selectee.css');
    $.insert(JQUERY_PLUGINS + '/selectee/selectee.jquery.js');
    // initiate chosen for select elements
    $("select#frontend_signup").selectee({
         disable_search_threshold: 3 //show the search bar in select if > 7 elements
    });
});
</script>
{% endif %}    
{% endblock %}